.input {
    width: 100%;
    border: 1px solid #bbceb3bd;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.dangerText {
    color: red;
}

.hide {
    display: none !important;
}